*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

form {
    background-color:orangered ; /*cor de fundo do formulario*/
    padding: 24px 0; /*espaçamento*/
    text-align: center; /*centralizar na pagina*/
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px; /*Tamanho dos botoes e espaços digitaveis*/
}

button{
    background-color: darkgreen; /*cor dos botoes*/
    border: none; /*tirar a borda*/
    cursor: pointer; /*quando o mouse passar no botão o cursor muda para maozinha*/
    font-weight: bold; /*deixa negrito*/
    text-transform: uppercase; /*deixa todo titulo MAIUSCULO*/
    color: #fff;
}

ul {
    list-style-type: none;
    background-color:rgb(97, 89, 89);
    font-weight: bold;
    display: block;
    text-align: center;
    padding-inline-start: 40px;
}

li {
    cursor: pointer;
    padding: 8px; 
}